@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
/* shere style */
.text-primary{
    color:#FD6E0A;
}
.bg-secondary{
    background-color: #FFF8F3;
} 
.dark-2{
    color:#474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0;
}
.btn-secondary{
    background: none;
    color:  #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: 600;
    color:#181818;
    text-align: center;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin: 30px 0;

}
.text-center{
    text-align: center;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
    margin-top: 130px;
}
.banner-greeting{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    margin: 30px 0;

}
.banner-profile-img{
    height: 680px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 130px 0;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about .section-description{
    margin: 20px 0;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}

/* skills section */
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skills-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.skill-title{
    margin: 20px 0;
}

/* resume */
.resume-container{
    display: flex;
    gap:30px;
    margin: 30px 0;
}
.experience{
    margin: 20px 0;
}
.experience-title{
    margin: 15px 0;
}
.experience-description{
    margin: 15px 0;
}


.footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.footer-column input{
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 24px;
}
.footer-column textarea{
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 24px;
}
.footer-description{
    margin: 15px 0;
}
